* {box-sizing:border-box}


/* -------------------nav--------------------------------- */
.menu {
    display: inline-block;
    position: relative;
    width: 100px;
}

.dropbtn {
    max-width: 80px;
    cursor: pointer; /* Add a cursor pointer for better UX */
}

.menuContent {
    /* display: none; */
    position: absolute;
    padding-left: 10px;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    top: 100%;
    background-color: #fff; /* Dropdown background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Dropdown box shadow */
    border: 1px solid #ccc; /* Dropdown border */
    border-radius: 4px; /* Rounded corners */
    overflow: hidden;
    z-index: 1000;
    
}

.menuItem {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333; /* Menu item text color */
    transition: background-color 0.3s ease-in-out;
    width: 150px; /* Adjust width as needed */
}

.menuItem:hover {
    background-color: #f5f5f5; /* Hover background color */
}

.show {
    /* display: block; */
    transform: scaleY(1);
    opacity: 1;
}

/* ------------------------------------------------------------------ */

/* -------------------------Image Slider----------------------------- */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}